g4f @ git+https://github.com/xtekky/gpt4free.git
flask==2.0.2
async-timeout==4.0.2
requests==2.26.0
Flask-Limiter==3.3.1
pymongo==4.4.1
js2py @ git+https://github.com/PiotrDabkowski/js2py.git
freeGPT @ git+https://github.com/Ruu3f/freeGPT.git
serverless-wsgi==3.0.2
asgiref==3.7.2
Pillow @ git+https://github.com/python-pillow/Pillow.git
