<!DOCTYPE html>
<html lang="en">
<html>
<head>
    <title>500!?</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
        }
        h1 {
            font-size: 10em;
        }
        .red {
            color: #ff0000;
        }
        .green {
            color: #00ff00;
        }
        p {
            font-size: 2em;
        }
    </style>
</head>
<body style="background-color:#f57b42">
    <h1><span class="red">5</span><span class="green">0</span><span class="red">0</span></h1>
    <p>"There ain't <span class="green">nobody here</span> but us <span class="red">chickens!</span>"</p>
    <p>🐔🐔🐔🐔🐔🐔🐣🐔🐔🐔🐔🐔🐔</p>
    <p> </p>
    <p> </p>
    <p>Cause of error: Server got error or crashed</p>
</body>
</html>
