body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to top, #4e008e, #a600ff);
    color: #ffffff;
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

p {
    font-size: 18px;
  }
